.app #content {
    transition-duration: 1s;
  }

  @keyframes liftUp {
    from {
      height: 100%;
    }
    to {
      height: 0%;
      
    }
  }
  @keyframes fadeOut {
      from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }


  
  .loader {
    position: fixed;
    z-index: 2;
    background-color: #fb9516;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: liftUp;
    animation-duration: 0.9s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
.loader .logofirst {
    width: 250px; 
    height: 250px;
    display: flex;
    position: absolute;
    animation-name: fadeOut;
    animation-duration: 0.2s;
    animation-delay: 2.0s;
    animation-fill-mode: forwards;
}
  
.loader .logo {
    width: 250px; 
    height: 250px;
   
    animation-name: liftUp;
    animation-duration: 0.9s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}
@media (max-width: 515px) {
   
  .loader .logofirst {
     width: 50vw; 
    height: auto;
    margin-bottom: 8vh;
}
.loader .logo {
    width: 50vw; 
    height: auto;
    margin-bottom: 8vh;
}
}
