@font-face {
  font-family: eightbit;
  src: url("/eightbitArcadeIn.ttf");
}

.container {
  height: 100vh;
  width: 926vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background-color: black;
}

@keyframes jiggle {
  37% {
    transform: translateX(-2px);
  }
  64% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-2px);
  }
}

.jiggle {
  animation: jiggle 0.8s infinite;
}

.rippleBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 105px;
  margin: 50px 0;
  left: 82vh;
  top: 65vh;
}

.rippleBox:hover span {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #22f7f4;
  border-radius: 50%;
  animation: animate 4s linear infinite;
  animation-delay: calc(-0.3s * var(i));
}
@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: .7;
  }
  50% {
    opacity: 0.2;
    border: 1px solid #22f7f4;
  }
  100% {
    width: 350px;
    height: 350px;
    border: 0.5px solid #22f7f4;
    opacity: 0;
  }
}

.shiny {
  position:absolute;
  
  height: 105px;
  width: 105px;
  z-index: 4;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}




.horizontalScrollContainer {
  background-image: url("../pages/assets/images/dummybackground.jpg");
  background-size: cover;
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 926vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.horizontalScrollContainer:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.sectionOne {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionThree {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.title {
  color: #31393c;
  font-family: monserrat;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  margin-top: 100px;
}

.logo {
  width: 140px;
}

.text {
  display: inline-block;
  color: transparent;
  font-family: monserrat;
  background-image: linear-gradient(180deg, #f3e8ee, #f7ce5b);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 175px;
  font-size: 84px;
  font-weight: 600;
  font-family: eightbit;
}

.scrollToExplore {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin-top: 270px;
}

.arrowR {
  width: 65px;
  height: 65px;
  background-image: url("../pages/assets/images/arrowright.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  z-index: 8;
  margin-right: 5vw;
}
.arrowL {
  width: 65px;
  height: 65px;
  background-image: url("../pages/assets/images/arrowleft.png");
   background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  z-index: 8;
  margin-left: 5vw;
}

.description {
  font-size: 21px;
  font-family: monserrat;
  font-weight: 700;
  color: #f3e8ee;
}

.links {
  position:absolute;
  left: 537vh;
  top: 73vh;
  height: 95px;
  width: 95px;
  z-index: 9;
}

.links:hover {
  border: 2px solid #f7ce5b;
}


@media (max-width: 515px) {
  .horizontalScrollContainer {
    background-image: url("../pages/assets/images/dummybackground.jpg");
    background-size: cover;
    position: absolute;
    height: 90vh;
    width: 833.4vh;
  }

 .arrowR {
  width: 30px;
  height: 30px;
  margin-right: 5vw;
}
.arrowL {
  width: 30px;
  height: 30px;
  margin-left: 5vw;
}

  .scrollToExplore {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 40vh;
  }

  .links {
    position:absolute;
    left: 537vh;
    top: 73vh;
    height: 95px;
    width: 95px;
    z-index: 9;
  }

}


