@font-face {
  font-family: monserrat;
  src: url("/Montserrat-VariableFont_wght.ttf");
}

.container {
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.horizontalScrollContainer {
  background-image: url("../pages/assets/images/dummybackground.jpg");
  background-size: 100% 100%;
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 926vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.horizontalScrollContainer:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.sectionOne {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionThree {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.title {
  color: #31393c;
  font-family: monserrat;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  margin-top: 100px;
}

.logo {
  width: 140px;
}

.text {
  display: inline-block;
  color: transparent;
  font-family: monserrat;
  background-image: linear-gradient(180deg, #f3e8ee, #f7ce5b);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 175px;
  font-size: 84px;
  font-weight: 600;
}

.scrollToExplore {
  display: flex;
  width: 95vw;
  justify-content: space-between;
  margin-top: 270px;
}

.arrow {
  width: 75px;
  height: 75px;
}

.description {
  font-size: 21px;
  font-family: monserrat;
  font-weight: 700;
  color: #f3e8ee;
}

.links {
  position:absolute;
  left: 537vh;
  top: 73vh;
  height: 95px;
  width: 95px;
  z-index: 9;
}
.links:hover {
  border: 2px solid #1DA1F2;
}


@media (max-width: 415px) {
  .horizontalScrollContainer {
    background-image: url("../pages/assets/images/dummybackground.jpg");
    background-size: 100% 100%;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 926vh;
  }

  .arrow {
    width: 25px;
    height: 25px;
  }

  .scrollToExplore {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    margin-top: 30vh;
  }
  .links {
     border: 2px solid #1DA1F2;
  }
}

  
